body {
  width: 100%;
  /* yellow */
  background-color: #ffcc66;
  font-family: 'Nanum Pen Script', cursive;
}

#container {
  width: 100%;
}

h1 {
  font-size: 28px;
  margin: 20px 0 0 15px;
}

#face-container {
  width: 70%;
  float: left;
}

#face {
  /* add top margin and center div */
  margin: 150px auto 0 auto;
  /* dark blue */
  background-color: #0088cc;
  width: 400px;
  height: 400px;
  /* circle */
  border-radius: 50%;
  border: 5px solid #000;
  /* to center img on face circle */
  text-align: center;
}

#face img {
  /* align image within face div */
  margin-top: 85px;
}

#options-group {
  /* vertically placed */
  float: left;
  margin-top: 90px;
  width: 20%;
}

.option {
  position: relative;
  height: 100px;
  margin-left: 15px;
}

p.label, .option img {
  position: absolute;
}

p.label {
  padding-left: 70px;
  margin-top: 10px;
  font-size: 22px;
  /* hide option labels for now */
  display: none;
}
