body {
  width: 100%;
  /* yellow */
  background-color: #ffcc66;
  background-color: #fff;
  font-family: 'Nanum Pen Script', cursive;
}

#container {
  width: 100%;
}

h1 {
  font-size: 25px;
  margin: 20px 0 0 15px;
}

#face-container {
  width: 70%;
  float: left;
}

#face-bg {
  /* add top margin and center div */
  margin: 150px auto 0 auto;
  /* dark blue */
  background-color: #0088cc;
  width: 400px;
  height: 400px;
  /* circle */
  border-radius: 50%;
  border: 5px solid #000;
  /* to center img on face circle */
  text-align: center;
}

#face-img {
  /* align image within face div */
  margin-top: 85px;
}

#icon-group {
  margin-top: 100px;
  /* vertically placed */
  float: left;
  width: 20%;
}

.icon {
  height: 70px;
  font-size: 60px;
  left: 2.5%;
}

/* fix label locations */
p.label {
  font-size: 22px;
  /* hide icon labels for now */
  display: none;
  position: absolute;
}

.heart, .knowledge, .achievements, .wealth, .humour, .alcohol {
  left: 2.5%;
  position: absolute;
}

.heart {
  top: 20%;
}

.label.heart {
  top: 20%;
  left: 10%;
}

.knowledge {
  top: 32%;
}

.achievements {
  top: 44%;
}

.wealth {
  top: 56%;
}

.humour {
  top: 68%;
}

.alcohol {
  top: 80%;
}

/* disabling highlighting */
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
